body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    background-color: rgb(222, 224, 233);
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#cabecera {
    background-color: rgb(240, 82, 20);
}
#container h1
{
    font-size: 20px;
}
